[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "radiant"]
	path = radiant
	url = https://github.com/radiant-rstats/radiant
[submodule "radiant.basics"]
	path = radiant.basics
	url = https://github.com/radiant-rstats/radiant.basics
[submodule "radiant.data"]
	path = radiant.data
	url = https://github.com/radiant-rstats/radiant.data
[submodule "radiant.design"]
	path = radiant.design
	url = https://github.com/radiant-rstats/radiant.design
[submodule "radiant.model"]
	path = radiant.model
	url = https://github.com/radiant-rstats/radiant.model
[submodule "radiant.multivariate"]
	path = radiant.multivariate
	url = https://github.com/radiant-rstats/radiant.multivariate
